extends index
append head
    script(src="/javascripts/question_votes.js" type="module")
    script(src="/javascripts/answer_votes.js" type="module")
    script(src="/javascripts/answer-ajax.js" type="module")
block content
    p(class= "question_id" id=question.id)
    div(id='grid-container')
    p(id='q-title')=question.question_title
    p(id='q-body')=question.question_body
        button(id="question_upvote") upvote 
        button(id="question_downvote") downvote
        //- p(id='q-id')=question.id
        //- script=console.log(`THIS IS ID`,question.id)
        div(id="answer-container") Answers
            if answers
                each answer in answers
                    div(id=`q_answers_${answer.id}`)
                        p=answer.answer_body
                            button(class="up_vote" id=`${answer.id}`) upvote 
                            button(class="down_vote" id=`${answer.id}`) downvote
        div(id="your-answer")
            form(id="answer-form")
                input(type="hidden" name="_csrf" value=csrfToken id="_csrf")
                p(id="your-ans") Your Answer
                label(for="answer_body")
                textarea(name="answer_body" cols="92" rows="15" tabindex="101" id="textArea")
                button(type="submit" id="submit-answer") Post Your Answer
        //- div(id="side-nav")
        //-         <a href="/">Home</a>
        //-         p Public
        //-         <a href="#">Link 2</a>