extends index
append head
    script(src="/javascripts/answer-ajax.js" type="module")
block content
    div(id='grid-container')
        p(id='q-title')=question.question_title
        p(id='q-body')=question.question_body
        p(id='q-id')=question.id

    div(id="answer-container")
        if answers
            each answer in answers
                div(id='q-answers')
                    p=answer.answer_body

    form(action=`/questions/${question.id}` method="post" id="answer-form")
        input(type="hidden" name="_csrf" value=csrfToken)
        h2 Your Answer
        label(for="answer_body")
        textarea(name="answer_body", cols="30", rows="10")
        button(type="submit" id="submit-answer") Post Your Answer

